<h3>Amenities</h3>
<p>
  Each Cabin has a fully equipped kitchen. Stove, refrigerator, microwave, dishes, pots & pans, and utensils are all included.  Area grocery stores are close by if you wish to prepare a picnic lunch or stay in the Cabin for dinner. If you choose to eat out there are several local restaurants nearby. There are many restaurants located in Knoxville or Oak Ridge but if you prefer something closer, Harrison's, Aubrey's, Cracker Barrel, Golden Girls, Gondolier's, and Cove Lake State Park are local favorites.
</p>
<p>
  Although it is about a 30 minute drive, one of the more scenic restaurants is McClouds near Lafollette, TN. More information may be found at <a href="http://www.mtcloud.com">www.mtcloud.com</a>
</p>
<p>
  The woodburning fireplace is a favorite among our guests. Nothing beats the warmth and glow of an authentic fireplace - especially on those cool evenings typical of East Tennessee in the Fall through early Spring of the year.
  <sup>
    Please note that the fireplace is available only on a seasonal basis (Late October - March).
  </sup>
</p>
<div class='content-divider'></div>
<p>
  Fee wi-fi internet access, Satellite TV, stereo CD, games, books and DVD movies are available for guests.
</p>
