%h1 Attractions
%div.content-divider
%h3 Hiking on area trails and in State & National Parks

%p 
  There are numerous hiking trails within 10 - 30 minutes away from the Cabins. These include trails within the nearby City of Norris, trails at any of the three State Parks within 15 miles of the Cabins, and others provided by TVA. For those wishing to experience the many trails of the Great Smoky Mountain National Park or the Big South Fork National Park, an hours' drive and a picnic lunch can bring a full day's enjoyment of some of the most beautiful mountain areas of the Southeastern United States.

%h3 Boating and watersports on Norris Lake

%p
  Norris Lake proudly boasts the cleanest water in the TVA Lake system. As local residents, we are keenly aware of this and feel fortunate to be so close to the Lake. Water-skiing, swimming, picnicking and camping on Norris Lake are featured activities for summertime fun. One of life's truly enjoyable experiences is to wake up early in the morning on the Lake - the quiet, the early morning dew, the stirring of the animals along the placid lake waters are simply breathtaking.

%h3 Local crafts 

%p
  The Museum of Appalcahia, Lenoir Museum, and the local craft guild contain many samples of crafts and goods produced by local artists and craft hobbyists. The Norris area is home to authors, sculptors, potters, poets, singers, and photographers who share their work with visitors to our area.

%h3 ATV: Four Wheeling and Dirt Bike Riding

%p
  We are close to some of the best areas in the southeast for riding ATV's and dirt bikes. The Royal Blue Wildlife Management area and the Coal Creek OHV area properties near Oliver Springs, TN are both within a 20 - 25 minute drive from our Cabin. Or Cabin is a wonderful place to relax after a hard day on the trails. We have pressure washers and tools available to clean your equipment & gear and to make repairs should they be required (check with innkeepers about availability).

%h3 East Tennessee History and Genealogy Research

%p
  Interested in researching the History of East Tennessee? Want to learn more about your Anderson, Knox, Campbell, Union or Roane County ancestors? Was your family displaced as a result of TVA coming into the Valley? Want to find old graveyards and places of interest in the area? Our Cabins are ideal to use as a base for conducting your research or visiting places of historical interest in the area. We are only 20 Minutes from the East Tennessee Historical Society located in downtown Knoxville.

%h3 Fishing on Norris Lake and the Clinch River

%p
  Flyfishing on the Clinch river draws flyfishing enthusiasts from around the southeast.   Norris Lake is close by for the those wishing to enjoy quiet time at the lake. Melton HillLake, Watts Bar Lake, Douglas Lake, Dale Hollow and Cumberland Lake (KY) are all within 30 - 60 minutes from the Cabin if you wish to try other lakes.

%h3 Horseback Riding on area trails

%p
  Many of the nearby trails allow you to ride along the shores of Norris Lake through the watershed area - a great way to see the lake and the beautiful woods surrounding our area. The Big South Fork National Park and the Great Smoky Mountain National Park are each about an hour or so away and both have many choices for the trail riding enthusiast.