%h1 Reservations

%h3 2015 Rates Are:
%ul
  %li Foust Cabin - $125.00 per night (excluding taxes) based on two guests. 
  %li Harned Cabin - $139.95 per night (excluding taxes) for up to four guests.

%p 
  If you have questions, need additional information, or wish to make a reservation you may call us at (865) 494 - 3248 or send an E-mail to OnCedarRidge@cs.com.

%h3 Reservation Information

%ul
  %li A two night minimum stay is required. 
  %li There is an additional charge for each additional guest of $15.00 per night (more than stated above)
  %li All major Credit cards are accepted - a 3% cash discount is offered for avoidance of credit card processing fees. We do not offer discounts for AAA or AARP. 
  %li TN Sales Tax @ 9.75% and a Hotel/ Motel Tax of 5% are in addition to the rates shown above. 
  %li Check-in is 3:00 PM and check-out is noon.
  %li Reservations may be accepted up to six months in advance. 

%p
  Cancellation Policy - When you reserve a Cabin, we agree to turn away all other requests for that Cabin, and you agree to pay the rate quoted for the number of days you reserve it.  If you cancel your reservation less than 7 days in advance for any reason, you are subject to one night's charge.  If you cancel your reservation less than 24 hours in advance, or do not arrive for your reservation on the day scheduled, you are subject to the charge for the entire stay booked.

%div.content-divider
%h1 Rules

%p A complete set of rules will be furnished upon booking; however, here are some of the most important rules:

%ul
  %li Smoking - No smoking is permitted in the Cabin.
  %li Pets - Pets are not allowed on the Premises.
  %li Dishes - As a courtesy, we ask that dishes, glasses, silverware and kitchen implements are washed prior to departure.
  %li Occupancy – Guests agree that occupancy of the Cabins during their stay is limited to the number of people stated by Guests and charged for by Owner except for visiting friends, family or guests of Guests not to exceed a reasonable number as determined by Owner. Guests further agree that such visiting family, friends, or guests of Guests shall not stay overnight at the Cabin unless prior arrangements are made with Owners.

%div.content-divider
%h1 FAQ

%p
  <b>Q:</b> What is there to do in Anderson County, TN?

%p
  <b>A:</b> It depends on your interest and when you are visiting. For example, in the Summer,Norris Lake is one of the finest lakes in the Southeast. Unlike many of the other TVA lakes, there is no barge traffic on Norris. Certain days of the week can draw a lot of recreational boaters, but often during the week you can find true solitude on Norris Lake, which is a rarity these days. <br> In the fall when the leaves are turning, the local forests are rich with color. The Museum of Appalachia has its Annual Homecoming in early October, which draws craftsmen and artists from all over the USA. Usually, 25,000 visitors come to the Museum during the week of Homecoming. <br> Norris is close to Knoxville, Oak Ridge & Pigeon Forge/Gatlinburg – there are plenty of sports, theater, arts and outdoor activities to keep you busy.

%p
  <b>Q:</b> Are there any craft shops in the area?

%p
  <b>A:</b> Yes – the community craft shop is located at the entrance road to the Cabin – approximately .25 miles away. Local craftsmen display their wares at the community craft shop and conduct workshops frequently. The Museum of Appalachia has many items produced by local craftsmen – jellies, quilts, recipe books, pottery and many more items are on display and are available for purchase.


%p
  <b>Q:</b> How many cabins do you have?

%p
  <b>A:</b> There are two cabins, the Foust Cabin and the Harned Cabin.

%div.content-divider
%h1 Disclaimer
%p
  First a bit of background, the Harned and Foust family cabins are unique as each is an artifact of the history of Appalachia that is rapidly disappearing. They have endured the passage of time for over 150 years if not longer. One of our primary goals is to preserve them so they may survive for many years to come. Robin and I view our ownership of the cabins as being temporary custodians until we pass them on to the next generation of owners. We want to use this time to collect as much information as we can about the history and background of each cabin and the families who lived in them.  
%p
  Recently an incident occurred in the Harned cabin that bothers us greatly as it violates the fundamental aspects of preservation and respect for the historical nature of our cabins. As we were cleaning one of the bedrooms we discovered a place on one of the logs where someone burned a mark into the log with a small handheld butane lighter used for starting gas stoves or grills. This wasn’t merely smoke damage – there is now a small indentation in the log that indicates the lighter was held there for some time. Aside from the obvious risk of starting a fire that could quickly destroy the cabin and pose a risk to the occupants, we are taken aback as to why someone would inflict permanent damage to a treasured piece of East Tennessee history.
%p
  As ‘custodians’ of the Harned and Foust cabins we are dedicated to the restoration and preservation of the cabins by minimizing the impact of providing conveniences of modern living for our guests. As we restored each cabin we took steps to ensure the original structural integrity of each cabin was retained as much as we could and still comply with local building codes. 
%p
  Since we started offering guest accommodations in 2002, we have had hundreds of guests representing a variety of people and reasons for staying with us. The experiences we have gained over the years in combination with the incident mentioned above prompt us to level set our goals, interests, and expectations in order to assist you, as a potential guest, to decide if staying in one of our cabins aligns with our mutual expectations. 

%p We want you, our guest, to understand what we offer:
%ul
  %li We offer safe, comfortable, and quiet accommodations - best suited for couples or small families.
  %li We seek guests who are looking for a unique place to stay and can appreciate and understand the historical significance of the Cabins. 
  %li Our guests should show respect and care during their stay. These are very old cabins and cannot be abused or marred as we seek to preserve them for future generations.
  %li Our guests should show the same respect and common courtesy as if they were staying in someone’s home. Clean up after yourself, pick up clothes, do not make a mess, leave a pile of dirty dishes in the sink, etc.

%p Things to consider before making a reservation: 
%ul
  %li While we strive to make each guest comfortable, we are not a luxury resort. Don’t be offended if we are not at your beck and call to tend to your every need.
  %li We cannot accommodate large group meetings such as wedding parties, family reunions, business meetings, or other large groups. If you have a need for a group meeting in the Norris area , our neighbors, Jim and Judy Valentine, may be able to accommodate your group (www.rabbitrun.com);
  %li We are not a place to party. If you are looking for a place to play loud music, drink excessively, or otherwise engage in boisterous contact, this is not the place for you.
  %li We are not a motel. If you are looking for a place where you feel you can make a mess (towels in the floor, trash, waste utilities, etc.) then you should find lodging elsewhere. 
  %li We do not allow extra guests to stay overnight and sleep on the couch, sleeping bags, etc. We limit the number of guests for good reasons. We want your stay to be comfortable, remain safe, and prevent damage to the cabin and its contents.
  %li We do not allow activities that could endanger our guests or cause damage to the cabins (unsafe use of the fireplace, whittling initials into the cabin logs, using an outdoor grill without taking proper precautions, etc)

%strong
  If you feel you cannot comply with the above then alternative lodging should be considered.