%h3 About The Cabins

%p
  The Cabins on Cedar Ridge are primitive 1860 era log cabins updated to provide all the amenities of modern living. The Cabins are  ideal for couples or families looking for a unique property close to a variety of area attractions and activities to enjoy year round. Perfect for a weekend getaway to relax and enjoy the wood-burning fireplace.

%p
  Three Tennessee State Parks are within 15 minutes of the Cabins: Big Ridge, Cove Lake and Norris Dam are all favorites of ours for their beauty and variety of recreational activities offered by each. The Clinch River is well known by outdoorsmen for its ease of access and beauty. We are only 10 minutes away from the river - fishing, canoeing, and horseback riding are enjoyed by outdoor enthusiasts. C & R outfitters is located nearby for guides and information about flyfishing in the area.

%p  
  Norris Dam and Norris Lake are only a short distance away - you can be at Norris Dam in less than 10 minutes. Other areas of the lake are also easily accessible. Boating, fishing and camping are popular on Norris Lake - frequently noted as the cleanest Lake in the TVA Reservoir system. The area surrounding Norris Lake is primarily owned by TVA, the State of Tennessee and the City of Norris. There are numerous hiking and horseback riding trails. These trails afford the opportunity to hike or ride literally all day and still not cover them all.

%p
  Location - The Cabins are located in East Tennessee, close to Knoxville and an hour away from the  Great Smoky mountains. We are 15 minutes north of Knoxville on Interstate 75 at the Norris/Clinton Exit (Exit 122). Located in Anderson county, the cabins are adjacent to the Museum of Appalachia, the historic city of Norris, and close to beautiful Norris Lake.

