@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700italic,700,600italic,600,400italic,800italic);
html, body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  padding: 0px;
  margin: 0px;
  background-image: url("assets/background.png");
  background-attachment: fixed; }

a, a:visited {
  color: #666;
  text-decoration: none; }

a:hover {
  color: #888; }

p {
  text-indent: 20px;
  margin-bottom: 20px; }

.navbar {
  transition: all 0.25s ease-in-out;
  z-index: 999;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(112, 73, 54, 0);
  height: 100px;
  width: 100%; }
  .navbar span {
    line-height: 100px;
    background: transparent;
    opacity: 1;
    color: #FFF;
    height: 100px; }
  .navbar .navbar-container {
    width: 70%;
    margin: 0px auto; }
  .navbar .brand {
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    font-size: 24pt; }
  .navbar .nav-menu {
    float: right;
    display: inline-block;
    font-size: 16pt; }
    .navbar .nav-menu .nav-item {
      cursor: pointer;
      margin: 0px 10px; }

.navbar.floating {
  height: 80px;
  box-shadow: 0px 3px 15px #222;
  background: #704936;
  transition: all 0.25s ease-in-out; }
  .navbar.floating span {
    line-height: 80px; }

.divider {
  height: 1px;
  background: #704936;
  width: 70%;
  margin: 2px auto; }

.content-divider {
  height: 1px;
  background: #704936;
  width: 100%;
  margin: 2px auto; }

.splash-frame {
  top: 0px;
  height: 100%;
  background: rgba(34, 34, 34, 0.3);
  z-index: 0; }

.content-frame {
  background: #b5a198;
  width: 100%;
  box-shadow: 0px 0px 15px #222; }
  .content-frame .content {
    width: 70%;
    margin: 0px auto;
    padding: 100px 0px;
    font-size: 14pt; }
  .content-frame h3 {
    color: #000; }
  .content-frame #amenities {
    margin: 0px auto;
    padding: 100px 0px; }
  .content-frame #cabin-photos {
    width: 70%;
    margin: 50px auto;
    text-align: center;
    margin-bottom: 20px; }
    .content-frame #cabin-photos figure {
      display: inline-block; }
  .content-frame .internals {
    position: relative;
    top: 0px;
    left: 0px;
    min-height: 600px; }
    .content-frame .internals #foust-internal, .content-frame .internals #harned-internal {
      transition: all 0.25s ease-in-out;
      transition: display 0s linear 0.25s;
      display: none;
      opacity: 0;
      width: 70%;
      margin: 0px auto;
      text-align: center; }
      .content-frame .internals #foust-internal p, .content-frame .internals #harned-internal p {
        font-size: 14pt; }
    .content-frame .internals #foust-internal.active, .content-frame .internals #harned-internal.active {
      transition: all 0.25s ease-in-out;
      opacity: 1;
      display: block; }
  .content-frame img {
    cursor: pointer;
    margin: 15px;
    border: 3px solid #222; }
  .content-frame .tagline {
    width: 800px;
    margin: 0px auto;
    color: #F3F3F3;
    font-weight: 500;
    height: 100px;
    position: relative;
    bottom: 400px;
    text-align: center;
    font-size: 32pt;
    text-transform: uppercase; }

#contact {
  line-height: 120px;
  color: white;
  font-size: 32pt;
  min-height: 120px;
  background: #504844;
  padding: 15px 15%;
  font-weight: 700; }
  #contact .info {
    float: right; }
    #contact .info div {
      line-height: 30px;
      font-size: 12pt;
      font-weight: normal;
      color: white; }
      #contact .info div a, #contact .info div a:visited {
        color: white;
        text-decoration: none; }
      #contact .info div a:hover {
        color: #DDD; }

.designer {
  border-top: 1px solid #444;
  background: #504844;
  color: #AAA;
  font-size: 10pt;
  text-align: center; }
  .designer a, .designer a:visited {
    color: #AAA;
    text-decoration: none; }
  .designer a:hover {
    color: #DDD; }

.background-frame {
  height: 800px;
  background: rgba(34, 34, 34, 0.3);
  background-attachment: fixed; }

#lake {
  background-size: cover;
  background-image: url("assets/lake.jpg"); }

#mountains {
  background-size: cover;
  background-image: url("assets/mountains.jpg"); }

#clinch {
  background-size: cover;
  background-image: url("assets/clinch.jpg"); }

/*# sourceMappingURL=theme.css.map */
