@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700italic,700,600italic,600,400italic,800italic)


//Color scheme

$primary:   #704936
$secondary: #b5a198
$tertiary:  #504844

$navbar-height: 100px

html, body
  height: 100%
  font-family: "Open Sans", sans-serif
  padding: 0px
  margin: 0px
  background-image: url("assets/background.png")
  background-attachment: fixed

a, a:visited
  color: #666
  text-decoration: none

a:hover
  color: #888

p
  text-indent: 20px
  margin-bottom: 20px


// Navbar Styling

.navbar
  transition: all 0.25s ease-in-out
  z-index: 999
  position: fixed
  top: 0px
  left: 0px
  background: rgba($primary, 0.0)
  height: $navbar-height
  width: 100%
  span
    line-height: $navbar-height
    background: transparent
    opacity: 1
    color: #FFF
    height: $navbar-height

  .navbar-container
    width: 70%
    margin: 0px auto

  .brand
    text-transform: uppercase
    cursor: pointer
    font-weight: 600
    font-size: 24pt

  .nav-menu
    float: right
    display: inline-block
    font-size: 16pt
    .nav-item
      cursor: pointer
      margin: 0px 10px

.navbar.floating
  height: 80px
  box-shadow: 0px 3px 15px #222
  background: rgba($primary, 1)
  transition: all 0.25s ease-in-out
  span
    line-height: 80px

.divider
  height: 1px
  background: $primary
  width: 70%
  margin: 2px auto

.content-divider
  height: 1px
  background: $primary
  width: 100%
  margin: 2px auto

.splash-frame
  top: 0px
  height: 100%
  background: rgba(#222, 0.3)
  z-index: 0


//Styling for the Content Panels

.content-frame
  background: $secondary
  width: 100%
  box-shadow: 0px 0px 15px #222
  .content
    width: 70%
    margin: 0px auto
    padding: 100px 0px
    font-size: 14pt

  h3
    color: #000

  #amenities
    margin: 0px auto
    padding: 100px 0px

  #cabin-photos
    width: 70%
    margin: 50px auto
    text-align: center
    margin-bottom: 20px
    figure
      display: inline-block
  
  .internals
    position: relative
    top: 0px
    left: 0px
    min-height: 600px
    #foust-internal, #harned-internal
      transition: all 0.25s ease-in-out
      transition: display 0s linear 0.25s
      display: none
      opacity: 0
      width: 70%
      margin: 0px auto
      text-align: center
      p
        font-size: 14pt


    
    #foust-internal.active, #harned-internal.active
      transition: all 0.25s ease-in-out
      opacity: 1
      display: block



  img
    cursor: pointer
    margin: 15px
    border: 3px solid #222


  .tagline
    width: 800px
    margin: 0px auto
    color: #F3F3F3
    font-weight: 500
    height: 100px
    position: relative
    bottom: 400px
    text-align: center
    font-size: 32pt
    text-transform: uppercase





// Contact Info 

#contact
  line-height: 120px
  color: white
  font-size: 32pt
  min-height: 120px 
  background: $tertiary
  padding: 15px 15%
  font-weight: 700
  .info
    float: right
    div
      line-height: 30px
      font-size: 12pt  
      font-weight: normal
      color: white
      a, a:visited
        color: white
        text-decoration: none

      a:hover
        color: #DDD


.designer
  border-top: 1px solid #444
  background: $tertiary
  color: #AAA
  font-size: 10pt
  text-align: center
  a, a:visited
    color: #AAA
    text-decoration: none
  a:hover
    color: #DDD

// Background Images

.background-frame
  height: 800px
  background: rgba(#222, 0.3)
  background-attachment: fixed

#lake
  background-size: cover
  background-image: url("assets/lake.jpg")

#mountains
  background-size: cover
  background-image: url("assets/mountains.jpg")

#clinch
  background-size: cover
  background-image: url("assets/clinch.jpg")
